main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-loading {
  font-size: 4rem;
}
/* 
///////////
Loading
////////////
*/

.loading {
  position: absolute;
  top: -5%;
  left: -10;
  width: 110%;
  height: 110%;

  display: flex;
  justify-content: center;
  place-items: center;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  border-radius: 25rem;
}

.show-loading {
  opacity: 1;
  visibility: visible;
  z-index: 12;
  transition-property: opacity;
  transition-duration: 1s;
}
.reg-bulb {
  position: absolute;
  font-size: 2rem;
  animation: animate 1s linear infinite;
  animation-delay: 0ms;
}

.show-loading p {
  font-size: 5rem;
  color: var(--primary-dark);
}

@keyframes animate {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }

  100% {
    fill: var(--primary-yellow);
    transform: rotate(360deg);
  }
}

/* 
///////////
Navbar
////////////
*/

.nav-container {
  width: 90vw;
  max-width: 1100px;
  padding: 0.5rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(
    to right,
    #1c1c1c,
    #232323,
    #2a2a2a,
    #313131,
    #383838,
    #383838,
    #383838,
    #383838,
    #313131,
    #2a2a2a,
    #232323,
    #1c1c1c
  );
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  place-items: center;
}
nav h1 {
  text-align: center;
}
.login-container {
  align-self: center;
}

.logo {
  width: 12rem;
  border-radius: 15px;
}

.svg-icon {
  height: 4rem;
  width: 5rem;
}

.user-icon {
  font-size: 3rem;
}

.user-icon:active {
  font-size: 2.7rem;
  color: rgb(210, 243, 249);
}
.user-menu {
  position: relative;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 41%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 8rem;

  height: 6rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-4);
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top;
  perspective: 1000px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.show-submenu {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg) translateX(-50%);
  z-index: 10;
}
.profile-btns {
  -moz-bottom-right-radius: 1rem;
  -moz-bottom-left-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  display: inline-block;
  transition: var(--transition);
  box-shadow: var(--shadow-1);
  color: var(--white);
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.logout-btn {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-image: linear-gradient(
    to bottom,
    var(--primary-500),
    var(--primary-600)
  );
}

.logout-btn:hover {
  background-image: linear-gradient(
    to bottom,
    var(--primary-700),
    var(--primary-800)
  );
}
.profile-btn {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-image: linear-gradient(
    to bottom,
    var(--primary-500),
    var(--primary-600)
  );
}

.profile-btn:hover {
  background-image: linear-gradient(
    to bottom,
    var(--primary-700),
    var(--primary-800)
  );
}

.profile-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transition-property: opacity;
  transition-duration: 1s;
}

.modal-container {
  background: var(--white);
  width: 35rem;
  max-width: 100vw;
  min-height: 30rem;
  display: grid;
  place-items: center;
  position: relative;
  background-color: var(--primary-grey);
  max-height: 30rem;
  border-radius: 1rem;
  border: 2px solid var(--primary-500);
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #f44336;
}
.login-container {
  width: 75%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.login-tabs {
  height: 15%;
  display: flex;
}
.login-button {
  border-bottom-left-radius: 1rem;
}
.signup-button {
  border-bottom-right-radius: 1rem;
}
.login-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
}
.login-tab {
  width: 50%;
  font-size: 1.4rem;
  background-image: linear-gradient(
    to bottom,
    var(--primary-500),
    var(--primary-600)
  );
  transition: 0.2s ease-in-out all;
}
.active-tab {
  border-bottom: 4px solid var(--primary-yellow);
  color: var(--primary-yellow);
}
.modal-form {
  /* border: 1px solid blue; */
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 2rem; */
  background-color: var(--primary-grey);
  position: absolute;
  transition: 0.5s ease-in-out all;
}

.modal-form h1 {
  margin-top: 1rem;
}
.login-form {
  transform: translateX(-100%);
  /* opacity: 0; */
  visibility: hidden;
}
.signup-form {
  transform: translateX(100%);
  /* opacity: 0; */
  visibility: hidden;
}
.active {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}
.login-form-row {
  margin-bottom: 2rem;
  width: 80%;
}
.login-form-label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.login-input {
  height: 2rem;
  width: 100%;
  border-radius: 5px;
  padding-left: 0.5rem;
}
.login-submit {
  align-self: center;
}
.forgot {
  margin-top: 2rem;
}
.here {
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary-yellow);
}
.my-ranked-ideas-container {
  width: 90%;
}
.profile-ideas-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.delete-ideas-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
  position: absolute;
  transition: all 0.5s ease-in-out;
  transform: rotateX(180deg);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  width: 91%;
  background-color: #1c1c1c;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid var(--primary-300);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.81);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.81);
}
.visible {
  visibility: visible;
  opacity: 1;
  z-index: 13;
  transform: rotateX(0deg);
}
.invisible {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transform: rotateX(-180deg);
}
.profile-idea {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  border-radius: 1rem;
  color: var(--primary-dark);
  font-weight: 600;
  padding: 0.5rem;
  display: flex;
  flex: row;
  gap: 1rem;
  align-items: center;
  border: 2px solid var(--primary-green);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.81);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.81);
}
.profile-idea div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.profile-idea p {
  flex-grow: 0.8;
}

.delete-idea-button {
  flex-grow: 0.2;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f44336;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}
.delete-idea-button svg {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.81);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.81);
  border-radius: 2rem;
  border: 2px solid #ca2b20;
}
.delete-idea-button:hover {
  transform: scale(1.1);
  color: #ca2b20;
}

.delete-idea {
  width: 100%;
  height: 4rem;
  background-color: var(--primary-dark);
  border-radius: 1rem;
  color: var(--primary-yellow);
  font-weight: 500;
  padding: 0.5rem;
  display: flex;
  flex: row;
  gap: 1rem;
  align-items: center;
}
.delete-confirm {
  height: 50%;
  width: 100%;
  margin-right: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--white);
  background-image: linear-gradient(
    to bottom,
    var(--primary-500),
    var(--primary-600)
  );
  transition: all 0.2s ease-in-out;
}
.delete-confirm:hover {
  background-image: linear-gradient(
    to bottom,
    var(--primary-700),
    var(--primary-800)
  );
}

.confirm-no {
  border-bottom-right-radius: 1rem;

  transition: all 0.2s ease-in-out;
}

.confirm-yes {
  border-top-right-radius: 1rem;

  transition: all 0.2s ease-in-out;
}

/* 
///////////
Idea Form
////////////
*/

.login-banner {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  text-align: center;
}

.span-login {
  font-size: 2.5rem;
  background: none;
  color: var(--primary-green);
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 0.75rem;
}

.form-container {
  width: 40%;
  min-width: 22rem;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  position: relative;
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 3px var(--primary-green);
  padding: 1.5rem;
  box-shadow: var(--shadow-4);
  border-radius: 1rem;
  height: 14rem;
  width: 100%;
  position: relative;
}

.form-margin {
  margin-top: 9rem;
  position: relative;
  width: 28rem;
}

.extra-margin {
  margin-top: 2rem;
}
.label {
  display: block;
  font-weight: 600;
}

.input {
  height: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.text-area {
  min-height: 3rem;
  max-width: 20rem;
  min-width: 13rem;
}
.check-btn {
  margin-bottom: 1rem;
  text-align: center;
}
.check-label {
  margin-left: 1rem;
}

.checkbox {
  margin-left: 0.2rem;
}
.btn {
  width: 50%;
  height: 2.5rem;
  min-width: 8rem;
  max-width: 10rem;
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  display: inline-block;
  transition: 0.5s ease-in-out all;
  box-shadow: var(--shadow-1);
  background-image: linear-gradient(
    to bottom,
    var(--primary-500),
    var(--primary-600)
  );
  /* background-color: var(--primary-600); */
  color: var(--primary-green);
  font-weight: 600;
}

.form-focus {
  position: absolute;
  align-items: center;
  background: rgba(0, 0, 0, 0.801);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 150vh;
  width: 100vw;
  overflow: hidden;
  overflow-x: hidden;
}
.close-btn {
  position: absolute;
}

.idea-btn {
  margin-top: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  display: inline-block;
  transition: 0.5s ease-in-out all;
  box-shadow: var(--shadow-1);
  color: var(--primary-green);
  background-image: linear-gradient(
    to bottom,
    var(--primary-500),
    var(--primary-600)
  );
  font-weight: 600;
}
.btn-submit {
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
.btn-submit:hover {
  background-image: linear-gradient(
    to right bottom,
    #1d8125,
    #358b32,
    #48953e,
    #5aa04b,
    #6aaa58
  );
}
.btn-edit {
  transition: all 1s;
  border-bottom-left-radius: 1rem;
  width: 50%;
}
.btn-delete {
  transition: all 1s;
  border-bottom-right-radius: 1rem;
  width: 50%;
}
.btn-delete:hover {
  background-image: linear-gradient(
    to right bottom,
    rgba(207, 0, 0, 0.801),
    rgba(219, 0, 0, 0.76),
    #e70000,
    #f30000,
    #ff0000
  );
}
.btn-edit:hover {
  background-image: linear-gradient(
    to right bottom,
    rgba(170, 170, 0, 0.76),
    #bcbf00,
    #cfd400,
    rgba(191, 197, 3, 0.692),
    rgba(242, 255, 0, 0.767)
  );
}

.submitted {
  margin-top: 0.5rem;
  padding: 0.5rem;
  display: inline-block;
  transition: 0.5s ease-in-out all;
  box-shadow: var(--shadow-1);
  color: var(--primary-green);
  background-image: linear-gradient(
    to bottom,
    var(--primary-500),
    var(--primary-600)
  );
  font-weight: 600;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
/* 
///////////
Ideas Box
////////////
*/

.no-ideas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.arrow-up {
  font-size: 2rem;
}
.list-options {
  display: flex;
  gap: 2rem;
}

.display-form {
  margin-bottom: 2rem;
}
.display-input {
  height: 2rem;
  width: 7rem;
  padding: 0.25rem;
  background-color: white;
  border-radius: 10px;
  font-weight: 600;
}
.display-label {
  font-size: large;
  font-weight: 600;
}

.editing-margin {
  margin-top: 17rem;
}

.ideas-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.longer {
  min-height: 43rem;
}

.ideas-title {
  text-decoration: underline;
  margin-bottom: 1rem;
}

.is-good {
  text-decoration: underline;
  font-size: 1.2rem;
}

.ideas {
  border-top-right-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 2rem;
  width: 55rem;
  min-height: 25rem;
  margin-bottom: 2rem;
  position: relative;
}

.idea {
  border: 2px solid var(--primary-300);
  border-radius: 1rem;
}
.idea-box {
  width: 100%;
  height: 100%;
}

.idea-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.submit-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete-menu {
  width: 100%;
  display: inline;
  position: relative;
}

/* .submit-menu {
  width: 100%;
  display: inline;
  position: relative;
} */

.delete-submenu {
  background-color: black;
  position: absolute;

  right: -45%;
  top: 130%;

  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-300);
  width: 8rem;
  justify-content: space-between;
  /* gap: 0.5rem; */
  height: 5rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-1);
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top;
  perspective: 1000px;
  visibility: hidden;
  opacity: 0;

  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.delete-submenu h4 {
  margin-top: 0.5rem;
}

.submit-submenu {
  background-color: black;
  position: absolute;
  border: 2px solid var(--primary-300);
  right: 1%;
  top: 99%;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;

  width: 8rem;
  justify-content: space-between;
  height: 6rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-4);
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top;
  perspective: 1000px;
  visibility: hidden;
  opacity: 0;

  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.submit-submenu h5 {
  line-height: 1.1rem;
}

.show-delete-submenu {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg) translateX(-50%);
  z-index: 10;
}
.show-submit-submenu {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg) translateX(-50%);
  z-index: 13;
}

.delete {
  display: inline-block;
  width: 50%;
  padding: 0.5rem;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
  box-shadow: var(--shadow-1);
  color: var(--primary-dark);
  background-color: var(--primary-green);
  font-weight: 600;
  background-image: none;
}

.yes-delete {
  border-bottom-left-radius: 1rem;
}

.yes-delete:hover {
  background-color: var(--primary-green-dark);
  color: var(--primary-green);
}
.no-delete {
  border-bottom-right-radius: 1rem;
}
.no-delete:hover {
  background-color: var(--primary-green-dark);
  color: var(--primary-green);
}
.page-btns {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.pageBtn {
  width: 3rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #fff;
  border-radius: 1rem;
}
.page-dots {
  width: 2rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.pageBtn:hover {
  background-color: var(--primary-green-dark);
  transition: all 0.2s ease-in-out;
}
.prev-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 1rem;
  background-color: var(--primary-green);
  transition: all 0.2s ease-in-out;
}

.prev-btn:hover {
  background-color: var(--primary-green-dark);
}
.pageBtn-active {
  background-color: var(--primary-green-dark);
}
.prev-btn span {
  margin-bottom: 1px;
}
/* 
///////////
Leader Board
////////////
*/
.leaderboard {
  text-align: center;
  margin-bottom: 2rem;
}
.listings {
  display: flex;
  width: 100%;
  gap: 4rem;
  justify-content: center;
}
.leaderboard-title {
  margin-bottom: 2rem;
  height: 4rem;
  background-image: linear-gradient(
    to right,
    #1c1c1c,
    #232323,
    #2a2a2a,
    #313131,
    #383838,
    #383838,
    #383838,
    #383838,
    #313131,
    #2a2a2a,
    #232323,
    #1c1c1c
  );
  vertical-align: middle;
  line-height: 3.8rem;
}
.rankings-list {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  gap: 3rem;
}
.single-ranked-container {
  width: 100%;
  position: relative;
  transition: all 0.5s ease-in-out;
  height: 3rem;
}
.single-ranked-idea {
  width: 100%;

  height: 5rem;
  color: #ffffff;
  position: relative;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: rotateX(0deg);
  transition: all 0.5s ease-in-out;
}
.flip-to-login {
  position: absolute;
  margin: 1rem;
  padding: 1rem;

  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-transform: capitalize;
  color: var(--primary-green);
  font-weight: 600;
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.flip-visible {
  visibility: visible;
  opacity: 1;
  z-index: 13;
  transform: rotateX(0deg);
  transition: all 0.5s ease-in-out;
}
.flip-invisible {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transform: rotateX(-180deg);
  transition: all 0.5s ease-in-out;
}

.login-reminder {
  font-size: 1.2rem;
  color: var(--primary-yellow);
}
.rankings-title {
  text-decoration: underline;
}
.login-reminder span {
  color: var(--primary-green);
}

.ranked-idea-grid {
  font-size: 1.2rem;
  background-color: var(--primary-grey);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 2px solid var(--primary-300);
  text-transform: capitalize;
  color: var(--primary-green);
  font-weight: 600;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.ranking {
  display: flex;
  position: relative;

  flex-direction: row;
  justify-content: center;
  margin-left: 1rem;
  width: 10rem;
  align-items: center;
  gap: 0.7rem;
}
.ranked-idea-text-container {
  justify-self: center;
  grid-column: 2/4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 0.8rem;
}
.ranked-idea-text {
  font-size: 1.2rem;
  line-height: 1;
}

.submitted-by {
  font-size: 0.8rem;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}
.thumbs {
  font-size: 2rem;
}

.thumbs:hover {
  animation: pulse 0.5s infinite ease-in-out alternate;
  animation-delay: 0ms;
  cursor: pointer;
}

.thumbs-up:hover {
  color: rgb(1, 216, 1);
}

.thumbs-down:hover {
  color: red;
}

.upVote {
  border-radius: 2rem;
  border: hidden;
}
.upVote path {
  stroke: rgba(23, 230, 36, 0.9);
  fill: rgba(23, 230, 36, 0.9);
  stroke-width: 1px;
}
.downVote {
  border-radius: 2rem;
  border: hidden;
}
.downVote path {
  stroke: rgba(224, 18, 18, 0.9);
  stroke-width: 1px;
}

/*
//
Loader
//
*/

.loader {
  position: absolute;
  /* margin-top: 1rem;
  margin-left: 1rem; */
  overflow: hidden;
  z-index: 14;
  background-color: rgba(40, 40, 40, 0.356);
  transition: all 1s ease-in-out;
  width: 100%;
  height: 100%;

  /* margin-top: -100px;
  margin-left: -100px; */

  perspective: 1000px;
  transform-style: perserve-3d;
}

.hidden {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  display: none;
}

/*
//
Reset Password
//
*/
.reset-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-container {
  width: 80%;
  max-width: 30rem;
  height: 20rem;
  display: flex;
  justify-content: center;
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: var(--primary-grey);
  width: 100%;
  border-radius: 1rem;
}
